body{
    font-size: 14px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #fdfdfd;
    color: #676666;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 500!important;
    color: #616060!important;
    font-family: 'Montserrat', sans-serif;
}
/**** Dimension Components****/
.pl-6 {
    padding-left: 4.25rem!important;
    font-family: 'Montserrat', sans-serif;
}
/*****************************/

/**** Header Components****/

.logo{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.btn-header{
    margin-right: 1rem;
    font-size: 0.9rem;
    line-height: 2.3;
    border: 1px solid #dcdbdb;
    background-color: transparent;
    padding: 0.25rem 1.5rem;
    color: #757171;
}
.btn-header:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 0px 0 rgb(236, 236, 236);
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
.jumbotron{
    background: linear-gradient( #fdfdfd, #f1f1ed 55%, #fdfdfd);
    font-family: 'Scope One', serif;
    padding: 2.5rem 2.5rem 3rem!important;
    margin-bottom:1rem;
}
/*****************************/

/**** Banner Components ****/
.pull-down{
    height: 80px;
    width: 6%;
    background-color: #8cade2;
    border-radius: 50%;
    color: white;
    margin-left: 40rem;
    -webkit-animation: jump 1.5s ease 0s infinite normal ;
    animation: jump 1.5s ease 0s infinite normal ;
}
.pull-down>i{
    font-size: 4.5rem;
    margin: 0.4rem 0.6rem 0rem 1rem;
}


/*****************************/


/**** Effects ****/
@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}
/*****************************/